* {
    box-sizing: border-box;
    background-color:white;
    
}

header {
    align-items: center;
    width: 100%;
	height: 50px;
	background-color: #13cfe4;
    text-align: center;
    font-size: 45px;
    font-family: 'Courier New';
    margin-top: 40px;
}

.returnTable{
   display: flex;
   flex-direction: column;
   text-align: center;
   background-color: rgb(162, 157, 161);
   flex-flow: column;
   
  }
  #inputButton {

    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.footer{
    
    margin-top: 100px; 
}

p{
    margin: 0px 0px 0px;
}

.image{
    display: block;
    height: 165px;
    width: 240px;
    align-items: right;
    margin-top: 30px;
}

/* MEDIA QUERIES */

/* MOBILE */

    @media screen and (max-height: 375px) {
        
    .header {
      
        margin-top: 100px;
    }
}

    @media screen and (max-height: 375px) {
    .image {
        margin-top:200%;
    }


/* Desktop */

@media screen and (min-height: 640px) {

    body {
        overflow: hide; /*Hide scrollbars */
      }
    }
    }